* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-image: url(https://ticjob.es/img/theme-nd/no-fusion/background-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 30px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    .form h2 {
        font-size: 35px;
        margin: 5px;
    }
    .form>input {
        margin: 12px;
        padding: 12px;
        border-radius: 20px;
        border: none;
        box-shadow: 2px 5px 30px -5px black;
        width: 96%;
    }
        .form>input:focus {
            outline: none;
        }
    div.check {
        font-size: 10.5px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
        div.check label {
            margin-left: 5px;
        }
    .recordar{
        text-align: center;
        margin-top:8px;
        margin-bottom:8px;
    }
    .btnSign {
        background-color: orangered;
        padding: 10px 44px;
        margin: 25px 10px;
        border-radius: 20px;
        color: rgb(66, 66, 66);
        box-shadow: 2px 5px 30px -7px black;
        font-size: 13px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
        .btnSign:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
div.botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.g-signin2{
    margin-top: 10PX;
    
}
.abcRioButton.abcRioButtonLightBlue {
    border-radius: 20px;
    box-shadow: 2px 5px 30px -7px black;
    margin: 15px 0px;
    
}
.abcRioButtonContents {
    font-family: monospace;
    font-size: 15px;
    margin-left: none;
}

.linkSing {
    text-align: center;
    margin: 5px 14px;
    
}