* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-image: url(https://ticjob.es/img/theme-nd/no-fusion/background-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 30px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    .form h2 {
        font-size: 35px;
        margin: 5px;
    }
    .form>input {
        margin: 15px;
        padding: 7px;
        border-radius: 15px;
        border: none;
        box-shadow: 2px 5px 30px -5px black;
        width: 90%;
    }
        .form>input:focus {
            outline: none;
        }
        
    .btnSign {
        background-color: orangered;
        padding: 8px 20px;
        margin: 15px;
        border-radius: 15px;
        color: black;
        font-weight: bolder;
        box-shadow: 2px 5px 30px -7px black;
        font-size: 15px;
    }
        .btnSign:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
